$gallery-height: 330px;

$nav-size: 50px;
$nav-background-color: #6666667f;

$dropdown-height: 2 * 16px;
$dropdown-width: 54px + $dropdown-height;
$dropdown-background-color: $nav-background-color;

$images-max-height: $gallery-height - (2 * $dropdown-height) - 16px;

#gallery {
  display: block;
  position: relative;
  width: 100%;
  height: $gallery-height;
  margin-top: 1rem;

  .nav {
    display: flex;
    position: absolute;
    top: ($gallery-height - $nav-size) / 2;
    justify-content: center;
    align-items: center;
    background-color: $nav-background-color;
    width: $nav-size;
    height: $nav-size;
    border-radius: $nav-size / 2;
    cursor: pointer;

    .fa {
      font-size: 2rem;
    }

    .fa-chevron-left {
      margin-left: -4px;
    }

    .fa-chevron-right {
      margin-right: -4px;
    }
  }

  .nav-left {
    left: 0;
  }

  .nav-right {
    right: 0;
  }

  .dropdown,
  .gallery-icon {
    border-radius: $dropdown-height / 2;
    background-color: $dropdown-background-color;
    line-height: $dropdown-height;
    text-align: center;
    cursor: pointer;
  }

  .dropdown {
    font-family: $font-body;
    position: absolute;
    top: 0;
    right: $nav-size + (2 * 16px) + $dropdown-height;
    width: $dropdown-width;
    height: $dropdown-height;
    overflow: hidden;

    .scroll {
      width: 100%;
      height: $gallery-height - (16px * 2);
      overflow-y: auto;
      display: none;

      li:hover {
        color: rgba(255, 255, 255, 0.75);
      }
    }
  }

  .gallery-icon {
    position: absolute;
    top: 0;
    right: $nav-size + 16px;
    width: $dropdown-height;
    height: $dropdown-height;
    color: $text-color;

    i {
      vertical-align: -1px;
    }
  }

  .images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: $gallery-height;

    img {
      max-height: $images-max-height;
      max-width: 300px;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  #gallery .images img {
    max-height: $images-max-height;
    max-width: 300px;
  }
}