$slider-height: 330px;

$nav-size: 50px;
$nav-background-color: #6666667f;

$dropdown-height: 2 * 16px;
$dropdown-width: 54px + $dropdown-height;
$dropdown-background-color: $document-background-color;

$images-max-width: 300px;
$images-max-height: $slider-height - (2 * $dropdown-height) - 16px;

#imageSlider {
  display: block;
  position: relative;
  width: 100%;
  height: $slider-height;
  margin-top: 1rem;
  @include user-select-none;

  .nav {
    display: flex;
    position: absolute;
    top: ($slider-height - $nav-size) / 2;
    justify-content: center;
    align-items: center;
    background-color: $nav-background-color;
    width: $nav-size;
    height: $nav-size;
    border-radius: $nav-size / 2;
    cursor: pointer;

    .fa {
      font-size: 2rem;
    }

    .fa-chevron-left {
      margin-left: -4px;
    }

    .fa-chevron-right {
      margin-right: -4px;
    }
  }

  .nav-left {
    left: 0;
  }

  .nav-right {
    right: 0;
  }

  .nav,
  .dropdown,
  #galleryIcon {
    z-index: 2;
  }

  .dropdown,
  #galleryIcon {
    border-radius: $dropdown-height / 2;
    background-color: $dropdown-background-color;
    line-height: $dropdown-height;
    text-align: center;
    cursor: pointer;
  }

  .dropdown {
    font-family: $font-body;
    position: absolute;
    top: 0;
    right: $nav-size + (2 * 16px) + $dropdown-height;
    width: $dropdown-width;
    height: $dropdown-height;
    overflow: hidden;
    @include user-select-none;

    .scroll {
      width: 100%;
      height: $slider-height - (16px * 2);
      overflow-y: auto;
      display: none;

      li:hover {
        color: rgba(255, 255, 255, 0.75);
      }
    }
  }

  #galleryIcon {
    position: absolute;
    top: 0;
    right: $nav-size + 16px;
    width: $dropdown-height;
    height: $dropdown-height;
    color: $text-color;

    i {
      vertical-align: -1px;
    }
  }

  .images {
    position: relative;
    height: $slider-height;
    overflow: hidden;
    z-index: 0;

    .is-row {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      align-content: center;
      width: 100%;
      height: $slider-height;

      a {
        z-index: 0;

        img {
          max-width: $images-max-width;
          max-height: $images-max-height;
        }
      }
    }
  }

  .images::before, .images::after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    width: $nav-size;
    height: $slider-height;
    z-index: 1;
  }

  .images::before {
    left: 0;
    background: linear-gradient(to right, black, rgba(0, 0, 0, 0));
  }

  .images::after {
    right: 0;
    background: linear-gradient(to left, black, rgba(0, 0, 0, 0));
  }
}

@media (min-width: $breakpoint-lg) {
  #imageSlider .images .is-row img {
    max-width: $images-max-width;
    max-height: $images-max-height;
  }
}