nav {
  background-color: $background-color;
  position: relative;

  .social {
    position: absolute;
    right: 4rem;
    top: 38px;

    li {
      display: inline;

      a {
        padding: 0 0.25rem;
        color: $text-color;
        @include transition-color(0.5s);
      }

      a:hover {
        color: $blue;
      }
    }
  }

  button {
    border: none !important;
    color: $text-color !important;
    @include transition-color(0.5s);
  }

  button:hover {
    color: $red !important;
  }

  #navbarCollapse {
    display: none;
  }

  ul {
    font-family: $font-title;

    .nav-item {
      text-align: center;

      a.nav-link {
        background-color: $document-background-color;
        border-radius: 0.25rem;
        margin-top: 0.5rem;
        color: $text-color !important;
        @include transition-color(0.5s);
      }

      a.nav-link:hover {
        color: $red !important;
      }
    }
  }
}

@media (min-width: $breakpoint-md) {
  nav {
    .social {
      right: 29rem;
    }

    ul .nav-item a.nav-link {
      background-color: unset;
      margin-top: 0;
      padding: 0 0.5rem;
      line-height: 70px;
      vertical-align: middle;
      @include transition-color(0.5s);
    }

    ul .nav-item a.nav-link:hover {
      color: $red !important;
    }

    #navbarCollapse {
      display: inline;
    }
  }
}
