nav {
  position: relative;
  background-image:
    linear-gradient(30deg, #7c9b68, #7c9b68),
    url('/static/home/img/ivy.jpg');
  background-blend-mode: multiply;
  background-repeat: repeat;
  margin-bottom: 1rem;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-content: center;

  .navbar-brand {
    height: 70px;
    padding: 0;
  }

  .fas,
  .fab,
  .nav-item {
    font-size: 1.5rem;
  }

  .social {
    margin: 0;
    height: 70px;

    li {
      &,
      & a {
        display: inline-block;
        height: 70px;
      }

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0.75rem;
        color: $text-color;
        @include transition-color(0.5s);

        &:hover {
          text-decoration: none;
        }

        i {
          text-shadow: 0 0 4px black;
        }
      }

      a:hover {
        color: $blue;
      }
    }
  }

  button {
    border: none !important;
    color: $text-color !important;
    @include transition-color(0.5s);
  }

  button:hover {
    color: $red !important;
  }

  #navbarCollapse {
    flex-grow: 0;
    display: none;
  }

  ul {
    font-family: $font-title;

    .nav-item {
      text-align: center;

      a.nav-link {
        background-color: rgba(0, 0, 0, 75%);
        border-radius: 0.25rem;
        margin-top: 0.5rem;
        color: $text-color !important;
        @include transition-color(0.5s);
      }

      a.nav-link:hover {
        color: $red !important;
      }
    }
  }
}

@media (min-width: $breakpoint-lg) {
  nav {
    ul .nav-item a.nav-link {
      background-color: unset;
      margin-top: 0;
      padding: 0 0.5rem;
      line-height: 70px;
      vertical-align: middle;
      text-shadow: 0 0 4px black;
      @include transition-color(0.5s);

      &:hover {
        color: $red !important;
      }
    }

    #navbarCollapse {
      display: inline;
    }
  }
}
