.tickets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5rem;
  padding: 0 0.25rem;
  margin-bottom: 2rem;
  font-family: $font-body;

  .bleacher ul.body {
    height: 120px;
  }

  .vip, .bleacher {
    width: 100%;
    max-width: 480px;
    margin-top: 1rem;

    header {
      padding: 1rem;

      .h5 {
        color: $text-color;
      }

      .h5:first-child {
        margin: 0;
        text-transform: uppercase;
      }

      .h5:last-child {
        margin: 1rem 0 0 0;
      }
    }

    ul.body {
      li {
        padding: 0.5rem 0;
      }

      li:nth-child(odd) {
        background-color: $alternate-background-color;
      }
    }

    footer {
      padding: 1rem 0;
    }

    ul.body, footer {
      margin: 0 0.5rem;
      background-color: $document-background-color;
      text-align: center;
    }
  }

  .vip header {
    background-color: $red;
  }

  .bleacher header {
    background-color: #036fb9;
  }
}

@media (min-width: $breakpoint-md) {
  .tickets {
    flex-wrap: nowrap;

//     .vip {
//       padding-right: 0.5rem;
//     }

//     .bleacher {
//       padding-left: 0.5rem;
//     }
  }
}