#venmo {
  width: 256px;
  margin-top: 1rem;
}

.tickets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 0.25rem;
  margin-bottom: 2rem;
  font-family: $font-body;

  .vip,
  .bleacher {
    width: 100%;
    max-width: 480px;
    margin-top: 1rem;

    header {
      padding: 1rem;

      .h5 {
        color: $text-color;

        &:first-child {
          margin: 0;
          text-transform: uppercase;
        }

        &:last-child {
          margin: 1rem 0 0 0;
        }
      }
    }

    ul.body li {
      padding: 0.5rem;

      &:nth-child(odd) {
        background-color: $alternate-background-color;
      }
    }

    footer {
      padding: 1rem 0.5rem;

      .h6 {
        color: #ffc439;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      form img {
        border: 0;
      }
    }

    ul.body,
    footer {
      margin: 0 0.5rem;
      background-color: $document-background-color;
      text-align: center;
    }
  }

  .vip header {
    background-color: $red;
  }

  .bleacher header {
    background-color: #036fb9;
  }
}

@media (min-width: $breakpoint-lg) {
  .tickets {
    flex-wrap: nowrap;
  }
}