$background-color: black;
$modal-background-color: #1e1e1ee6;
$document-background-color: #333333;
$alternate-background-color: #444444;

$red: #ed1c1d;
$blue: #649fd1;

$text-color: white;
$text-color-hover: rgba(255, 255, 255, 0.75);
$link-color: #00ffff;

$font-title: 'Amaranth', Helvetica, Arial, sans-serif;
$font-body: 'Open Sans', Helvetica, Arial, sans-serif;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@mixin user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}