$background-color: black;
$text-color: white;
$link-color: #00ffff;
$text-hover-color: rgba(255, 255, 255, 0.75);

$font-title: 'Varela Round', Helvetica, Arial, sans-serif;
$font-body: 'Open Sans', Helvetica, Arial, sans-serif;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;