@import url('https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round');

@import 'variables';
@import 'home';
@import 'ads';
@import 'navbar';
@import 'gallery';
@import 'about';
@import 'footer';

body {
  background-color: $background-color;
  color: $text-color
}

.h1, .h3 {
  font-family: $font-title;
}

p {
  font-family: $font-body;
  line-height: 1.5;
  margin-bottom: 1rem;
}

a,
a:hover,
.fa-external-link-alt {
  color: $link-color;
}

.fa-external-link-alt {
  vertical-align: 1px;
  font-size: 9px;
  cursor: pointer;
}

.container {
  padding: 0;
}