{% extends 'home/base.html' %}
{% load static %}

{% block content %}
{% include 'home/ads/leaderboard_top.html' %}
<div class="about-header">
  <h1 class="h1 text-center">About Out at Wrigley</h1>
  <h3 class="h3 text-center">Contact</h3>
  <ul>
    <li class="text-center">Phone: <a href="tel:{{ phone }}">{{ phone }}</a></li>
    <li class="text-center">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
  </ul>
  <a data-fancybox="gallery" href="{% static 'home/img/about_1169x487.jpg' %}">
    <img src="{% static 'home/img/about_934x389.jpg' %}" alt="Jaimee Rosko Photography">
  </a>
</div>
<h3 class="h3 text-center">About Us</h3>
<p>
  When I started working for the gay press in 2000 via the newspaper Chicago
  Free Press, my very first sales call was to the Chicago Cubs. The Chicago
  Cubs became the first professional male sports team to advertise in a gay
  paper in the country, and I am proud to spearhead that effort.
</p>
<p>
  In 2001, I organized the largest a Gay Day at a major league sporting event
  at Wrigley Field called Out at The Ballgame (now called Out at Wrigley).
  From 2001 to 2003, we purchased 2,000 seats inside Wrigley Field. With the
  popularity of the Chicago Cubs, fewer tickets became available for group
  sales. Starting in 2004 and continuing until 2011, we purchased at least 500
  tickets inside and purchased 200 rooftop tickets. Starting in 2012 and
  continuing this year, we bought out the new Budweiser Patio Deck as well as
  general seating in the ball park.
</p>
<p>
  As with years past, Market to Market Chicago
  (<a class="external-link" href="https://mtmchicago.com">mtmchicago.com</a>)
  and Supergurl Images, which organizes Out at Wrigley, will be holding contests
  to choose an individual to sing the National Anthem and throw out the
  Ceremonial First Pitch that day.
</p>
{% include 'home/ads/large_mobile_banner1.html' %}
<div id="rectangles">
  {% include 'home/ads/medium_rectangle1.html' %}
  {% include 'home/ads/medium_rectangle2.html' %}
</div>
{% include 'home/ads/leaderboard_bottom.html' %}
{% include 'home/ads/large_mobile_banner2.html' %}
{% endblock %}