{% extends 'home/base.html' %}
{% load static %}

{% block content %}
{% include 'home/ads/leaderboard_top.html' %}
<h1 class="h1 text-center">Contribute</h1>
<p class="text-center">
  To donate or to help sponsor the next Out at Wrigley, please fill out one of the forms below.
</p>
<p class="text-center">
  All ticket purchases are done through PayPal and are secure.
</p>
{% include 'home/contribute_forms.html' %}
{% include 'home/ads/large_mobile_banner1.html' %}
<div id="rectangles">
  {% include 'home/ads/medium_rectangle1.html' %}
  {% include 'home/ads/medium_rectangle2.html' %}
</div>
{% include 'home/ads/leaderboard_bottom.html' %}
{% include 'home/ads/large_mobile_banner2.html' %}
{% endblock %}