<div class="contribute-forms">
  <div class="donate">
    <h5 class="h5">Donations</h5>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="MLVA5SR99KVVU">
    <input type="hidden" name="on0" value="Donations">
    <select name="os0">
      <option value="Donation">Donation $1,500.00 USD</option>
      <option value="Donation">Donation $1,000.00 USD</option>
      <option value="Donation">Donation $750.00 USD</option>
      <option value="Donation">Donation $500.00 USD</option>
      <option value="Donation">Donation $250.00 USD</option>
      <option value="Donation">Donation $150.00 USD</option>
      <option value="Donation">Donation $100.00 USD</option>
      <option value="Donation">Donation $75.00 USD</option>
      <option value="Donation">Donation $50.00 USD</option>
      <option value="Donation">Donation $25.00 USD</option>
    </select>
    <br />
    <input type="hidden" name="currency_code" value="USD">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
  <div class="sponsor">
    <h5 class="h5">Sponsor</h5>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="3DQ9FVCPTTQFA">
    <input type="hidden" name="on0" value="Sponsor">
    <select name="os0">
      <option value="Presenting">Presenting $100,000.00 USD</option>
      <option value="Diamond">Diamond $50,000.00 USD</option>
      <option value="Platinum">Platinum $20,000.00 USD</option>
      <option value="Gold">Gold $10,000.00 USD</option>
      <option value="Silver">Silver $7,500.00 USD</option>
      <option value="Grandslam">Grandslam $5,000.00 USD</option>
      <option value="Home Run">Home Run $2,500.00 USD</option>
      <option value="Triple">Triple $1,500.00 USD</option>
      <option value="Double">Double $750.00 USD</option>
      <option value="Single">Single $500.00 USD</option>
    </select>
    <br />
    <input type="hidden" name="currency_code" value="USD">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
</div>