<div id="gallery">
  <div class="nav nav-left">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </div>
  <div class="nav nav-right">
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </div>
  <div class="dropdown">
    <div class="header">
      <span class="year">2019</span>
      <span class="chevron">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </span>
    </div>
    <div class="scroll">
      <ul>
        {% for year in dropdown %}
        <li>{{ year }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <a class="gallery-icon" href="#">
    <i class="fa fa-th" aria-hidden="true"></i>
  </a>
  <input type="hidden" name="page" value="1" autocomplete="off">
  <div class="images"></div>
</div>