{% load static %}
<nav id="navbar" class="navbar navbar-default navbar-expand-md navbar-dark">
  <ul class="social">
    <li>
      <a href="https://facebook.com/OutAtWrigley"><i class="fab fa-facebook-f"></i></a>
    </li>
    <li>
      <a href="https://twitter.com/OutAtWrigley"><i class="fab fa-twitter"></i></a>
    </li>
    <li>
      <a href="https://instagram.com/OutAtWrigley/"><i class="fab fa-instagram"></i></a>
    </li>
  </ul>
  <a class="navbar-brand" href="{% url 'home:index' %}">
    <img src="{% static 'home/img/logo_128x70.png' %}" alt="Out at Wrigley">
  </a>
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:about' %}">About Us/Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:contests' %}">Contests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:sponsors' %}">Sponsors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:tickets' %}">Buy Tickets</a>
      </li>
    </ul>
  </div>
</nav>