{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<div id="grid">
  <div>
    {% include 'home/ads/leaderboard_top.html' %}
    <h1 class="h1 text-center">Sponsors</h1>
    <p class="text-center">
      To help sponsor Out at Wrigley 2020, contact Bill Gubrud at
      <a href="mailto:bill@mtmchicago.com">bill@mtmchicago.com</a>.
    </p>
  </div>
  <div>
    {% include 'home/ads/skyscraper.html' %}
  </div>
</div>
{% include 'home/ads/large_mobile_banner1.html' %}
<div id="rectangles">
  {% include 'home/ads/medium_rectangle1.html' %}
  {% include 'home/ads/medium_rectangle2.html' %}
  {% include 'home/ads/medium_rectangle3.html' %}
</div>
{% include 'home/ads/leaderboard_bottom.html' %}
{% include 'home/ads/large_mobile_banner2.html' %}
{% endblock %}