{% extends 'home/base.html' %}
{% load static %}

{% block content %}
{% include 'home/ads/leaderboard_top.html' %}
<h1 class="h1 text-center">Buy Tickets</h1>
<p class="text-center">
  The game is Sunday, September 18<sup>th</sup> at 1:00 p.m. (game time subject to change). We will update the site with ticket prices when the Cubs inform us. This year, all tickets will be sent to you electronically via text or email from Out at Wrigley once we receive them from the Cubs. Thank you for supporting OAW again this year!
</p>
<h5 class="h5 text-center">
  All ticket sales are final.
</h5>
<p class="text-center">
  All ticket purchases are done through PayPal and are secure.
</p>
<div class="tickets">
  <div class="vip">
      <header>
        <h5 class="h5 text-center">VIP Tickets</h5>
        <h5 class="h5 text-center">$167.<sup>00</sup></h5>
      </header>
      <ul class="body">
        <li>One VIP ticket</li>
        <li>All you can drink (beer, wine, soda, water)</li>
        <li>All you can eat (snacks)</li>
      </ul>
      <footer>
        <form
          action="https://www.paypal.com/cgi-bin/webscr"
          method="post"
          target="_top"
        >
          <input type="hidden" name="cmd" value="_s-xclick" />
          <input type="hidden" name="hosted_button_id" value="F2HLCRXW8QD4Y" />
          <input
            type="image"
            src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif"
            border="0"
            name="submit"
            alt="PayPal - The safer, easier way to pay online!"
          />
          <img
            alt=""
            border="0"
            src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
            width="1"
            height="1"
          />
        </form>
      </footer>
  </div>
</div>
{% include 'home/ads/large_mobile_banner1.html' %}
<div id="rectangles">
  {% include 'home/ads/medium_rectangle1.html' %}
  {% include 'home/ads/medium_rectangle2.html' %}
</div>
{% include 'home/ads/leaderboard_bottom.html' %}
{% include 'home/ads/large_mobile_banner2.html' %}
{% endblock %}
