{% extends 'home/base.html' %}
{% load static %}

{% block content %}
{% include 'home/ads/leaderboard_top.html' %}
<h1 class="h1 text-center">Buy Tickets</h1>
<p class="text-center">
  The game is Sunday, September 18<sup>th</sup> at 1:00 p.m. (game time subject to change) against the Colorado Rockies. We will update the site with ticket prices when the Cubs inform us. This year, all tickets will be sent to you electronically via text or email from Out at Wrigley once we receive them from the Cubs. Thank you for supporting OAW again this year!
</p>
<h5 class="h5 text-center">All ticket sales are final.</h5>
<p class="text-center">
  All ticket purchases are done through Venmo or PayPal and are secure.
</p>
<div class="tickets">
  <div class="vip">
    <header>
      <h5 class="h5 text-center">VIP Tickets</h5>
      <h5 class="h5 text-center">$160.<sup>00</sup></h5>
    </header>
    <ul class="body">
      <li>One VIP ticket</li>
      <li>All you can drink (beer, wine, soda, water)</li>
      <li>All you can eat (snacks)</li>
    </ul>
    <footer>
      <h6 class="h6">Venmo <em>(no fee)</em></h6>
      <p>
        Pay directly to Billy Gubrud:
        <a
          class="text-nowrap"
          href="https://venmo.com/code?user_id=2668551739539456730&created=1659451491.9918761&printed=1"
          target="_blank"
          rel="noopener noreferrer"
        >
          @Billy-Gubrud
        </a>
        <a
          class="text-nowrap"
          href="https://venmo.com/code?user_id=2668551739539456730&created=1659451491.9918761&printed=1"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img id="venmo" src="{% static 'home/img/venmo.jpg' %}" />
        </a>
      </p>
      <h6 class="h6">PayPal <em>($7 fee)</em></h6>
      <form
        action="https://www.paypal.com/cgi-bin/webscr"
        method="post"
        target="_top"
      >
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="F2HLCRXW8QD4Y" />
        <input
          type="image"
          src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif"
          name="submit"
          alt="PayPal - The safer, easier way to pay online!"
        />
        <img
          alt=""
          src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
          width="1"
          height="1"
        />
      </form>
    </footer>
  </div>
  <div class="bleacher">
    <header>
      <h5 class="h5 text-center">Standard Tickets</h5>
      <h5 class="h5 text-center"><em>Variable Pricing</em></h5>
    </header>
    <ul class="body">
      <li>One standard ticket</li>
    </ul>
    <footer>
      <h6 class="h6">Buy Tickets</h6>
      <a
        href="https://mlb.tickets.com/?orgid=5&agency=MLB_MPV&pid=9000969&tfl=Chicago_Cubs-Tickets-Chicago_Cubs_Single_Game_Tickets-single_game_tickets-x0-Desktop-Landscape&adobe_mc=MCMID=37249019970404532705098380743213082389&MCORGID=A65F776A5245B01B0A490D44%40AdobeOrg&TS=1659448679#/event/9000969/ticketlist/?view=sections&minPrice=14&maxPrice=119&quantity=1&sort=price_desc&ada=false&seatSelection=false&onlyCoupon=true&onlyVoucher=false"
      >
        Cubs.com
      </a>
      &bull;
      <a
        href="https://www.stubhub.com/chicago-cubs-chicago-tickets-9-18-2022/event/105061776/"
      >
        StubHub.com
      </a>
    </footer>
  </div>
</div>
{% include 'home/ads/large_mobile_banner1.html' %}
<div id="rectangles">
  {% include 'home/ads/medium_rectangle1.html' %}
  {% include 'home/ads/medium_rectangle2.html' %}
</div>
{% include 'home/ads/leaderboard_bottom.html' %}
{% include 'home/ads/large_mobile_banner2.html' %}
{% endblock %}
