@import url("https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round");
#grid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1rem;
}

#cover {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1200px) {
  #grid {
    grid-template-columns: 934px 160px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #grid {
    grid-template-columns: 754px 160px;
  }
}
@media (min-width: 992px) {
  #cover {
    height: 507px;
  }
}
@media (min-width: 350px) {
  .container {
    padding: 0 15px;
  }
}
#leaderboardTop,
#leaderboardBottom,
#largeMobileBanner1,
#largeMobileBanner2 {
  text-align: center;
}

#rectangles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
#rectangles a {
  margin-top: 1rem;
}

nav {
  font-family: "Varela Round", Helvetica, Arial, sans-serif;
  background-color: black;
  position: relative;
}
nav .social {
  position: absolute;
  right: 4rem;
  top: 38px;
}
nav .social li {
  display: inline;
}
nav .social li a {
  color: white;
  padding: 0 0.25rem;
}
nav .social li a:hover {
  color: rgba(255, 255, 255, 0.75);
}
nav button {
  border: none !important;
  color: white !important;
}
nav button:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}
nav .nav-item {
  text-align: center;
}
nav .nav-item a.nav-link {
  background-color: #666;
  border-radius: 4px;
  margin-top: 0.5rem;
  color: white !important;
}
nav .nav-item a.nav-link:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}

@media (min-width: 768px) {
  nav .social {
    right: 28rem;
  }
  nav .nav-item a.nav-link {
    background-color: black;
    margin-top: 0;
    padding: 0 0.5rem;
    line-height: 70px;
    vertical-align: middle;
  }
}
#imageSlider {
  display: block;
  position: relative;
  width: 100%;
  height: 330px;
  margin-top: 1rem;
}
#imageSlider .nav {
  display: flex;
  position: absolute;
  top: 140px;
  justify-content: center;
  align-items: center;
  background-color: #6666667f;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
}
#imageSlider .nav .fa {
  font-size: 2rem;
}
#imageSlider .nav .fa-chevron-left {
  margin-left: -4px;
}
#imageSlider .nav .fa-chevron-right {
  margin-right: -4px;
}
#imageSlider .nav-left {
  left: 0;
}
#imageSlider .nav-right {
  right: 0;
}
#imageSlider .dropdown,
#imageSlider .gallery-icon {
  border-radius: 16px;
  background-color: #6666667f;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
}
#imageSlider .dropdown {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0;
  right: 114px;
  width: 86px;
  height: 32px;
  overflow: hidden;
}
#imageSlider .dropdown .scroll {
  width: 100%;
  height: 298px;
  overflow-y: auto;
  display: none;
}
#imageSlider .dropdown .scroll li:hover {
  color: rgba(255, 255, 255, 0.75);
}
#imageSlider .gallery-icon {
  position: absolute;
  top: 0;
  right: 66px;
  width: 32px;
  height: 32px;
  color: white;
}
#imageSlider .gallery-icon i {
  vertical-align: -1px;
}
#imageSlider .images .is-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 330px;
}
#imageSlider .images .is-row img {
  max-width: 300px;
  max-height: 250px;
}

@media (min-width: 992px) {
  #imageSlider .images .is-row img {
    max-width: 300px;
    max-height: 250px;
  }
}
footer {
  padding: 1rem 0;
}
footer p {
  margin: 0;
  text-align: center;
}
footer p, footer a {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
}
footer .footer-list {
  max-width: 16rem;
  position: relative;
  margin: auto;
  overflow: hidden;
}
footer .footer-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 0.5em -1px;
  list-style: none;
  padding-left: 0;
}
footer .footer-list li {
  line-height: 0.75em;
  flex: 1 0 auto;
  margin: 0.25em 0;
  padding: 0 0.5rem;
  text-align: center;
  border-left: 1px solid white;
}

.about-header img {
  margin: 1rem 0;
  width: 100%;
}

body {
  background-color: black;
  color: white;
}

.h1, .h3 {
  font-family: "Varela Round", Helvetica, Arial, sans-serif;
}

.h1 {
  margin-top: 2rem;
}

.h3 {
  margin-top: 1rem;
}

.h5 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

p, ul {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin-bottom: 1rem;
}

a,
a:hover,
.fa-external-link-alt {
  color: #00ffff;
}

.fa-external-link-alt {
  vertical-align: 1px;
  font-size: 9px;
  cursor: pointer;
}

.container {
  padding: 0;
}

.content img {
  width: 300px;
}
.content img.float-left-sm, .content img.float-right-sm {
  display: block;
  margin: 0 auto 1rem auto;
  float: none;
}

ul.ul {
  list-style: disc;
}
ul.ul li {
  margin-left: 20px;
}

@media (min-width: 576px) {
  .content img.float-left-sm {
    float: left;
    padding-right: 2rem;
  }
  .content img.float-right-sm {
    float: right;
    padding-left: 2rem;
  }
  .content img.float-left-sm, .content img.float-right-sm {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
